<%= form_for(@fando_league) do |f| %>
  <% if @fando_league.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fando_league.errors.count, "error") %> prohibited this fando_league from being saved:</h2>

      <ul>
      <% @fando_league.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :contest_date %><br>
    <%= f.datetime_select :contest_date %>
  </div>
  <div class="field">
    <%= f.label :max_user %><br>
    <%= f.number_field :max_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
